// Colors scheme

// First color scheme
$white: #fff;
$snow: #FAFAFA;
$quick-silver: #A0A0A0;

// Second color scheme
$jelly-bean: #e56353;
$salmon: #e97f72;
$pastel-pink: #f0a9a1;

// Third color scheme
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

//Tamaño de pantalla
$breakpoint-xx-lg: 1400px;
$breakpoint-x-lg: 1200px;
$breakpoint-lg: 992px;
$breakpoint-m: 768px;
$breakpoint-s:  576px